body {
    display: flex;
    flex-flow: column;
    background-color: rgb(0, 0, 127);
    overflow: hidden;
    cursor: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around
}

.header-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-left: 60px;
    margin-top: -40px;
}

.right-side-header {
    display: flex;
    align-items: center;
}

.content {
    background-color: rgb(10, 54, 94);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-grow: 1;
}

button {
    background-color: green;
    color: antiquewhite;
    border: none;
    margin: 5px;
    min-height: 40px;
    min-width: 100px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}

label {
    margin-bottom: 12px;
    margin-right: 15px;
    transform: scale(1.1);
}

input {
    background-color: rgb(157, 0, 0);
    margin-bottom: 10px;
    transform: scale(1.1);
    max-width: 150px;
}

.buttons {
    display: flex;
    flex-flow: column;
    margin: 20px;
    transform: scale(1.2);
}

.status {
    padding: 42px;
    display: flex;
    flex-flow: row;
}

.labels {
    display: flex;
    flex-flow: column;
    padding-top: 2px;
}

.inputs {
    display: flex;
    flex-flow: column;
}

.footer {
    background-color: rgb(10, 54, 94);
    display: flex;
    justify-content: center;
}
